<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets'">Vet List Page</h2>
    <table id="vets" class="table table-striped">
        <thead>
        <th>Vet Id</th>
        <th>Vet Name</th>
        <th>Vet Surname</th>
        </thead>
        <tbody>
        <!--The vet?.getId(), the ? is null save operator-->
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.getId()}"></td>
            <td th:text="${vet?.getFirstName()}"></td>
            <td th:text="${vet?.getLastName()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>